@import url(../Variables/variables.css);
header{
    width: 100vw;
    height: 13.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.3125rem;
    color: var(--color-letra);
}
.header__Nombre{
    font-family: var(--fuente-Alata);
    font-size: 25px;
    z-index: 99;
}
.header__opciones{
    display: flex;
    justify-content: space-around;
    gap: 1.5625rem;
    font-family: var(--fuente-Josefin-Sans);
    font-size: 1.25em;
    z-index: 99;
}
