@import url(Variables/variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-Alata);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.rigth{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #192655;
}

.form_container{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 50px 10px 50px 10px;
    background-color: #0000001c;
}

.form_container form{
    width: 80%;
    height: 80%;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px ;
}

.input{
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input div{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
} 
.input input{
    width: 100%;
    height: 80%;
    padding: 2px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: #afadad91;
    color: #141414;
    transition: all 0.5s;
    transform: translateY(2px);
}

.id_input{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.id_input select{
    background-color: #afadad91;
    width: 10%;
}

.id_selection input{
    width: 89%;
    height: 33px;
    padding: 2px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: #afadad91;
    color: #141414;
    transition: all 0.5s;
    transform: translateY(2px);
}

.button_continue {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 60%;
    height: 40%;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: #184b54af;
    color: azure;
    transition: all 0.5s;
    transform: translateY(-2px); 
}
::placeholder{
    color: #434343;
    font-size: 12px;
}

.left{
    width: 45%;
    height: 100%;
    background-image: url(../images/coastLogo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-size: 20px;
    color: azure;
}

.anchor{
    width: 20%;
    height: 70%;
    padding: 10px;
    background-color: #184b5493;
}

.login a{
    color: azure;
    text-decoration: none;
}

.input input:focus {
    border-radius: 20px;
    transform: scaleY(0.95);
    border: solid 0.5px #192655;
}

.id_selection input:focus{
    border-radius: 20px;
    transform: scaleY(0.95);
    border: solid 0.5px #192655;
}

.txt:hover {
    border-color: rgba(240, 255, 255, 0.3);
}

.button:hover{
    background-color: #3218548c;
    cursor: pointer;
    border: solid 1px azure;
    border-radius: 10px;
}
.button:active {
    transform: scaleY(1);
}

