<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/Usuario__header__interfaces.css">

    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="header__Nombre">CLUB NÁUTICO ALBATROS</h1>
        <ul class="header__opciones">
            <li><a href="">home</a></li>
            <li><a href="./Usuario__Perfil.html">perfil</a></li>
            <li><a href="./Usuario__barcos.html">barcos</a></li>
            <li><a href="./Usuario__Salidas.html">historial de salidas</a></li>
            <li><a href="../../index.html">salir</a></li>
        </ul>
        
    </header>
    <main>
        <section class="PanelContenido">
            <div class="PanelContenido__encabezado"><h3>SUS DATOS</h3></div>
            <div class="PanelContenido__contenido"></div>
        </section>
    </main>
    <div class="capa"></div>
</body>
</html>